{#
| Variable                   | Type    | Description                                                                  |
|---------------------------|---------|------------------------------------------------------------------------------|
| component                 | object  | Contains merchant settings for fields from twilight.json `component` section |
| component.left_image      | string  |                                                                              |
| component.left_url        | ?string |                                                                              |
| component.right_image     | string  |                                                                              |
| component.right_url       | ?string |                                                                              |
| component.desktop_height  | int     |                                                                              |
| component.mobile_height   | int     |                                                                              |
#}
<section
    class="s-block s-block--two-side-banners"
    style="
      --two-side-banner-height-mobile: {{ component.mobile_height ?: 180 }}px;
      --two-side-banner-height-desktop: {{ component.desktop_height ?: 320 }}px;
    "
>
    <div class="two-side-banners">
        <a
            href="{{ component.right_url ?: '#' }}"
            class="two-side-banners__item"
            aria-label="{{ component.right_alt ?: 'right-banner' }}"
        >
            <img
                class="two-side-banners__image"
                src="{{ component.right_image }}"
                alt="{{ component.right_alt ?: 'right-banner' }}"
                loading="lazy"
            >
        </a>
        <a
            href="{{ component.left_url ?: '#' }}"
            class="two-side-banners__item"
            aria-label="{{ component.left_alt ?: 'left-banner' }}"
        >
            <img
                class="two-side-banners__image"
                src="{{ component.left_image }}"
                alt="{{ component.left_alt ?: 'left-banner' }}"
                loading="lazy"
            >
        </a>
    </div>
</section>
